<form method="POST" action="/login">
    <input type="text" name="name" placeholder="name"><br>
    <input type="password" name="pass" placeholder="password"><br>
    <button type="submit">Login</button>
</form>