<form method="POST" action="/signup">
    <input type="text" name="name" placeholder="name"><br>
    <input type="password" name="pass" placeholder="password"><br>
    <input type="password" name="confirm_pass" placeholder="confirm password"><br>
    <button type="submit">Signup</button>
</form>